@model TaskViewModel
@{
	ViewData["Title"] = "Create new task";
}

<h1>Creating a task</h1>
<form asp-controller="Task" asp-action="Create" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="Created" value="" />
	<input type="hidden" asp-for="Author" value="@User" />
	<div class="form-group">
		<input asp-for="Title" type="text" class="form-control" placeholder="Title">
		 <span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description">Description</label>
		<textarea asp-for="Description" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label asp-for="Status">Status</label>
		<input asp-for="Status" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label asp-for="Performer">Performer</label>
		<select asp-for="Performer" class="form-control" />
		<option></option>
		@foreach (var performer in Model.Performers)
		{
			<option>@performer</option>
		}
		</select>
	</div>
	<div class="form-group">
		<label asp-for="Tags">Tags</label>
		<select multiple class="form-control" />
		@foreach (var tag in Model.Tags)
		{
			<option>@tag</option>
		}
		</select>
	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
</form>
