@{
	ViewBag.Title = "Forgot password";
}

<div class="container">
	<div class="d-flex align-content-center justify-content-center">
		<h3>The link has been sent, please check your email to reset your password</h3>
	</div>
</div>